<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Musikdata</title>
    <link rel="stylesheet" th:href="@{/CSS/musikdata.css}">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Artist</th>
        <th>Oprindelsesland</th>
        <th>Genre</th>
        <th>Albumnavn</th>
        <th>Udgivelses år</th>
        <th>Sange</th>
        <th>Opdater</th>
        <th>Slet</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="musikData : ${musikDataList}">
        <td th:text="${musikData.artist}"></td>
        <td th:text="${musikData.origin}"></td>
        <td th:text="${musikData.genre}"></td>
        <td th:text="${musikData.albumName}"></td>
        <td th:text="${musikData.year}"></td>
        <td>
            <ul>
                <li th:each="song : ${musikData.songs}" th:text="${song}"></li>
            </ul>
        </td>
        <td> <a th:href="@{'/update/' + ${musikData.id}}" href="/update.html">Opdater</a> </td>
        <td> <a th:href="@{'/delete/' + ${musikData.id}}" href="/musikdata.html">Slet</a> </td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th>Statistik</th>
        <th>Årstal</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Ældste Album år:</td>
        <td th:text="${minYear}"></td>
    </tr>
    <tr>
        <td>Nyeste Album Year:</td>
        <td th:text="${maxYear}"></td>
    </tr>
    <tr>
        <td>Gennemsnitet:</td>
        <td th:text="${avgYear}"></td>
    </tr>
    </tbody>
</table>
<div class="create">
    <h2>Opret nyt album</h2>
    <a href="create.html" th:href="@{/create}">Klik her for at oprette nyt album</a>
</div>

</body>
</html>
